.build/
/Tests/
/Tools/
__pycache__/
.pytest_cache/
*.pyc
*.generated.h
*.dll
*.exe
*.pdb
*.obj
*.lib
*.exp
*.bin
*.pki
*.pkg
*.log
settings.ini
ui.ini*
status.txt
installation.json
reports/
backups/
*.[mM][pP]3
*.[wW][aA][vV]
custom.audio
